@-webkit-keyframes animTerrain {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

@-moz-keyframes animTerrain {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

@-o-keyframes animTerrain {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

@keyframes animTerrain {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

@-webkit-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}

@-moz-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}

@-o-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}

@keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}

@-webkit-keyframes animBricks {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -63px 100%;
    }
}

@-moz-keyframes animBricks {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -63px 100%;
    }
}

@-o-keyframes animBricks {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -63px 100%;
    }
}

@keyframes animBricks {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -63px 100%;
    }
}

@keyframes animBird {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 96px;
    }
}

@-webkit-keyframes animBird {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 96px;
    }
}

@-moz-keyframes animBird {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 96px;
    }
}

@-o-keyframes animBird {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 96px;
    }
}

@-webkit-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}

@-moz-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}

@-o-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}

@keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}